/* Custom styles for the button */
.btn-primary {
    background-color: #364352 !important; /* Set background color to #364352 */
    border-color: #364352 !important; /* Set border color to match background color */
    color: #ffffff !important; /* Set text color to white */
}

/* Hover effect for the .btn-primary */
.btn-primary:hover {
    background-color: #003161 !important; /* Change background color on hover to #003161 */
    border-color: #003161 !important; /* Change border color on hover to match background color */
}



/*Scroll Bar*/
/* html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #003161;
    border-radius: 5rem;
} */