/* Make the nav-bar sticky to the right with a width of 100% */
#nav-bar {
    position: sticky;
    /* This will make it sticky */
    top: 0;
    /* Stick it to the top */
    right: auto;
    /* Stick it to the right */
    width: fit-content;
    /* Set width to 100% */
    height: 100vh;
    z-index: 1000;
    /* To ensure it stays above other elements */
}

/* Existing CSS remains unchanged */
/* Add this new CSS */
.flex-container {
    display: flex;
    text-align: center;
}

.content-of-page {

    margin-left: 5%;
    width: calc(100% - 25%);
    /* Adjusted width */
    /* overflow-x: hidden; */
}



.btn-primary {
    background-color: #364352 !important;
    border-color: #003161 !important;
    color: #ffffff !important;
}

/* Hover effect */
.btn-primary:hover {
    background-color: #003161 !important;
    border-color: #364352 !important;
    
}

.border2 {
    /* border: 2px solid #eee; */
    padding: 20px;
    margin-top: 20px;
    margin-right: 5%;
    box-shadow: 0 0 10px 5px rgba(186, 186, 186, 0.853);
    /* Adjust the values as needed */
}

/*Scroll Bar*/
html::-webkit-scrollbar:horizontal {
    width: 0.3rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #85909a;
    border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #364352; /* Change the hover color */
}


html::-webkit-scrollbar-button {
    display: none;
}