/* Make the nav-bar sticky to the right with a width of 100% */
#nav-bar {
    position: sticky; /* This will make it sticky */
    top: 0; /* Stick it to the top */
    right: auto; /* Stick it to the right */
    width: fit-content; /* Set width to 100% */
    height: 100vh;
    z-index: 1000; /* To ensure it stays above other elements */
}
/* Existing CSS remains unchanged */
/* Add this new CSS */
.flex-container {
    display: flex;
    text-align: center;
}
.content-of-page {

    margin-left: 5%;
    width: calc(100% - 25%); /* Adjusted width */
    overflow-x: hidden;
}



.btn-primary {
    background-color: #364352 !important; /* Set background color to #364352 */
    border-color: #364352 !important; /* Set border color to match background color */
    color: #ffffff !important; /* Set text color to white */
}

/* Hover effect for the .btn-primary */
.btn-primary:hover {
    background-color: #003161 !important; /* Change background color on hover to #003161 */
    border-color: #003161 !important; /* Change border color on hover to match background color */
}
