/* Make the nav-bar sticky to the right with a width of 100% */
#nav-bar {
    position: sticky; /* This will make it sticky */
    top: 0; /* Stick it to the top */
    right: auto; /* Stick it to the right */
    width: fit-content; /* Set width to 100% */
    height: 100vh;
    z-index: 1000; /* To ensure it stays above other elements */
}
/* Existing CSS remains unchanged */
/* Add this new CSS */
.flex-container {
    display: flex;
    text-align: center;
}
.content-of-page {

    margin-left: 5%;
    width: calc(100% - 25%); /* Adjusted width */
    overflow-x: hidden;
}
