* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #003161;
    --second-color: #364352;
    --text-color: #444;
    --gradient: linear-gradient(#003161, #364352);
}


/*Scroll Bar*/

/* html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
} */

section {
    padding: 50px 100px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}

.logo img {
    width: 150px;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-item {
    font-size: 100px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.header-btn .sign-in {
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}

.header-btn .sign-in:hover {
    background: var(--second-color);
}

.home {
    color:#ccc;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.arrange {
    display: grid;
    grid-template-columns: auto;
    padding: 0px;
    grid-row-gap: 85px;
}

.arrange1 {
    display: grid;
    grid-template-columns: auto;
    padding: 0px;
    grid-row-gap: 25px;
}

.grid-col {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 0px;
}

.grid-col1 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px;
}

.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: row;
}

.input-box span {
    font-weight: 500;
}

.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.btn-container {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: -1rem;
    left: 600px;
    background: #fff;
    padding: 0px;
    border-radius: 0.5rem;
    grid-template-columns: auto;
}

.btn-container .btn {
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #364352;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.btn-container .btn:hover {
    background: var(--main-color);
}

select {
    /* styling */
    background-color: white;
    border: thin solid #003161;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, #003161 50%, transparent 50%), linear-gradient(135deg, transparent 50%, orange 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: #003161;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.text h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.text span {
    
    color:cornsilk;
}

.text p {
    color:#fff;
    margin: 00.5rem 0 0.75rem;
}

.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    text-transform: uppercase;
}

.heading h1 {
    font-size: 2rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.services-container .box {
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.services-container .box .box-img {
    width: 100%;
    height: 200px;
}

.services-container .box .box-img img {
    width: 250px;
}

.services-container .box h3 {
    font-weight: 500;
}

.services-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.services-container .box .btn {
    display: flex;
    justify-content: center;
    background: #364352;
    color: #fff;
    padding: 10px;
    boarder-radius: 0.5rem;
}

.services-container .box .btn:hover {
    background: var(--main-color);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.about-img img {
    width: 90%;
}

.about-text span {
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}

.about-text p {
    margin: 0.5rem 0 1.4rem;
}


/*Making Responsive*/

@media(max-width: 991px) {
    header {
        padding: 18px 40px;
    }
    section {
        padding: 50px 40px;
    }
}

@media(max-width: 881px) {
    .home {
        background-position: left;
    }
}

@media(max-width: 768px) {
    header {
        padding: 11px 40px;
    }
    #menu-icon {
        display: initial;
    }
    .sign-up {
        display: none;
    }
    .text h1 {
        font-size: 2.5rem;
    }
    .home {
        grid-template-columns: 1fr;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        top: -500px;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0, 0, 0, 0.1);
        transition: 0.2s ease;
        text-align: left;
    }
    .navbar .active {
        top: 100%;
    }
    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
        border: none;
    }
    .navbar a::after {
        display: none;
    }
    .heading span {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1 {
        font-size: 1.3rem;
    }
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        padding: 1rem;
        order: 2;
    }
}

@media(max-width: 350px) {
    header {
        padding: 6px 14px;
    }
    .logo img {
        width: 30px;
    }
    section {
        padding: 50px 14px;
    }
    .header-btn .sign-in {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .text h1 {
        font-size: 2rem;
    }
    .services-container {
        grid-template-columns: repeat(auto-fit, minmax(254px, auto));
    }
}


