.navbar-nav .nav-item {
    border-radius: 20px; /* Adjust the border-radius to control the roundness */
}

.navbar-nav .nav-item.active a {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%; /* Make it oval-shaped */
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}


