:root {
    --text-color: #444;
    --gradient: linear-gradient(#1b1919, #3c275d);
     --main-color: #003161;
    /* --second-color: #ffac38; */
    /* --text-color: #444; */
   
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
.parent{
    background-color: #eee;
}

.container{
    padding-left: 15px; /*3shan f mobile yeb2a klam msh bad2 mn awl*/
    padding-right: 15px; 
    margin-left: auto; /*3shan ycntr el 3naser*/
    margin-right: auto;
    width: 600px;
}

/*Making Responsive*/
/* Small */
@media (min-width: 768px) {
    .container { /*  by5li mfesh scroll in x hyban lw zwedt width hna*/
      width: 750px; 
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px; 
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */


.header {
    position: relative;
    width: 100%;/*from parent*/
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .container .links{
    text-align: center;
}

.logo img { 
    width: 150px;
}

.navbar {
    display: flex;
}
.navbar li {
    position: relative;
}
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    /* font-weight: 10000; */
}
.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.header-btn .sign-in {
    background: #040b5f;
    color: #fff;
    border-radius: 0.5rem;
}

.header-btn .sign-in:hover {
    background: var(--main-color);
}


